<footer class="footer">
  <p>&copy; <%= new Date().getFullYear() %> Nadia Ivanishchuk</p>
  <p>
    <a href="mailto:nadiaivanishchuk@gmail.com">Email</a> |
    <a href="https://www.linkedin.com/in/nadiaivan5129" target="_blank" rel="noopener noreferrer">LinkedIn</a>
  </p>
</footer>