<nav>
  <a href="/">Home</a>
  <a href="/contact-form">Contact</a>
  <a href="/portfolio">Portfolio</a>
  <a href="https://github.com/nadia5129" target="_blank">GitHub</a>
  <a href="https://linkedin.com/in/nadiaivan5129" target="_blank">LinkedIn</a>
</nav>